<style>
th, td {
  padding: 10px;
}
th {
  text-align: right;
}
</style>

<h1>Actualizar Vehículo</h1>

<%= form_tag(nil, method: "post") do %>

<table>
  <tbody>
    <tr>
      <th><%= label_tag(:placa, "Placa:") %></th>
      <td><%= text_field_tag(:placa, @vehicle.placa, :required => true) %></td>
    </tr>
    <tr>
      <th><%= label_tag(:conductor, "Conductor:") %></th>
      <td><%= text_field_tag(:conductor, @vehicle.conductor, :required => true) %></td>
    </tr>
    <tr>
      <th><%= label_tag(:tipo, "Tipo vehículo:") %></th>
      <td><%= text_field_tag(:tipo, @vehicle.tipo, :required => true) %></td>
    </tr>
    <tr>
      <th><%= label_tag(:estado, "Estado:") %></th>
      <td><%= text_field_tag(:estado, @vehicle.estado, :required => true) %></td>
    </tr>
    <tr>
      <th></th>
      <td><%= submit_tag("Actualizar") %></td>
    </tr>
  </tbody>
</table>

<% end %>